# Ignorar directorios generados por el compilador
Win32/
Win64/
OSX64/
OSXARM64/
Android/
Android64/
iOSDevice64/
Linux64/

# Ignorar binarios y archivos generados automáticamente
*.exe
*.dll
*.bpl
*.dcu
*.~*
*.stat

# Ignorar archivos de configuración local y de respaldo
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery/

# Incluir archivos esenciales del proyecto
!*.pas
!*.dpr
!*.dfm
!*.fmx
!*.dpk
!Win32/Release/
!Win32/Release/TIC360NPClient.exe
!Win32/Release/TIC360NPServer.exe
!Android64/Release
!Android64/Release/TIC360NPClient
!Android64/Release/TIC360NPClient/bin/
!Android64/Release/TIC360NPClient/bin/TIC360NPClient.apk
!Android64/Release/TIC360NPServer/bin/TIC360NPServer.apk
!Linux64/Release/
!Linux64/Release/TIC360NPConsole